@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

#calculate-button {
	margin-block-end: 6em;
	height: 50px;
	width: 220px;
	background-color: rgba(26, 38, 32, 0.75);
	margin-left: 3.5em;
	margin-top: 3.5em;
	font-family: "Source Code Pro", monospace;
}

#calculate-button:hover {
	margin-block-end: 6em;
	height: 50px;
	width: 220px;
	background-color: white;
	color: black;
	margin-left: 3.5em;
	margin-top: 3.5em;
}

.explodedDiagram {
	position: relative;
	top: -520px;
	left: 445px;
	width: 250px;
	/* border: 1px solid #000000; */
}

.overlay {
	position: absolute;
	top: 350px;
	left: 30px;
	width: 350px;
	margin-block-start: -26em;
	margin-left: 23.5em;
}

.mt-2 {
	height: 50px;
	width: 100%;
	font-family: "Source Code Pro", monospace;
}

.form-group {
	margin: 15px;
}

.form-group2 {
	width: 50%;
	margin: 25px;
	color: black;
	border: 1px solid rgba(26, 38, 32, 0.75);
	background-color: rgba(201, 177, 157, 0.952);
	border-radius: 10px;
	padding: 15px;
	position: absolute;
	top: 500px;
}

.modal-body {
	height: 80%;
}

button {
	font-family: "Source Code Pro", monospace;
}

form {
	font-family: "Source Code Pro", monospace;
}

