#calculate-button{
  margin-block-end: 6em;
height: 50px;
width: 220px;
background-color: rgba(203, 206, 76, 0.952);
margin-left: 3.5em;
margin-top: 3.5em;
}


#image{
  margin-block-start: -26em;
  margin-left: 23.5em;


}



