@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

#calculate-button {
	margin-block-end: 6em;
	height: 50px;
	width: 220px;
	background-color: rgba(26, 38, 32, 0.75);
	margin-left: 3.5em;
	margin-top: 2em;
	font-family: "Source Code Pro", monospace;
}

#calculate-button:hover {
	margin-block-end: 6em;
	height: 50px;
	width: 220px;
	background-color: white;
	color: black;
	margin-left: 3.5em;
	margin-top: 2em;
}

.explodedDiagram {
	position: relative;
	top: -490px;
	left: 440px;
	/* width: 250px; */
	max-height: 250px;
	/* border: 1px solid #000000; */
}

.overlay {
	position: absolute;
	top: 350px;
	left: 20px;
	width: 350px;
	margin-block-start: -26em;
	margin-left: 23em;
}

.mt-2 {
	height: 50px;
	width: 100%;
	font-family: "Source Code Pro", monospace;
}

.form-group {
	margin: 15px;
}

.form-group2 {
	width: 90%;
	margin: 30px;
	color: black;
	border: 1px solid rgba(26, 38, 32, 0.75);
	background-color: rgba(201, 177, 157, 0.952);
	border-radius: 10px;
	padding: 15px;
	position: relative;
	top: -22vh;
	left: 300px;
	/* text-align: center; */
}

.modal-body {
	height: 80%;
}

form {
	font-family: "Source Code Pro", monospace;
}

.required {
	font-family: "Source Code Pro", monospace;
	font-size: x-small;
	position: relative;
	top: 10vh;
	left: -6vw;
}

.calculations {
	border: 1px solid black;
	position: relative;
	color: rgba(26, 38, 32, 1);
	font-family: "Source Code Pro", monospace;
	font-size: x-small;
	top: 40vh;
	left: -22vw;
	border-radius: 10px;
	padding: 8px;
	height: 13rem;
	/* display: none; */
}
